.title {
	color: blue;
	text-align: center;
}

.table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 50%;	/* Making table responsive */
	margin-bottom: 20px;
}

.t-head, .t-data {
	border: 1px solid blue;
}

.t-data {
	text-align: center;
}
